.featured{
    background: var(--clr-gray200);
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.about__img{
    margin-top: 40px;
}
.about__title{
    margin-top: 10px;
    text-align: center;
    font-size: var(--size-2xl);
}
.about__description{
    margin-top: 10px;
    text-align: justify;
    max-width: 50ch;
    font-size: var(--size-base);
    padding-bottom: 16px;
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .about{
        flex-direction: row;
        padding: 32px;
    }
    .about__img {
        margin-top: 0;
    }
    .about__text-section{
        padding: 32px;
       
    }
    .about__description{
        text-align: justify;
        max-width: 50ch;
        font-size: var(--size-lg);
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */